<% _.each(models, function(model,i){ %>
    <% if(models.length -1 == i){ %>
            <li class="active">
                <% if(i == 0){ %><i class="fa fa-dashboard"></i><% } %>
                <%= model.name %>
            </li>
        <% }else{ %>
            <li>
                <a href="<%= model.url %>">
                    <% if(i == 0){ %><i class="fa fa-dashboard"></i><% } %>
                    <%= model.name %>
                </a>
            </li>
        <% } %>
    <% }) %>
