<% if (is_err) { %>
<div class="alert alert-danger text-center alert-dismissible">
    <% }else{ %>
    <div class="alert alert-info text-center alert-dismissible">
        <%}%>

        <a href="#" class="close" data-dismiss="alert" id="close-alert" aria-label="close">&times;</a>

        <% if (msg) { %>
        <h4>
            <%= msg %>
        </h4>
        <%}%>

    </div>
</div>
