<div class="col-md-6">
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Server Name: <%= name %></h3>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <p>Role: <%= role %></p>
            <p>Ip: <%= ip %></p>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>