<div class="col-md-9">
    <div class="box box-success">
        <div class="box-header with-border">
            <i class="fa fa-code"></i>
            <h3 class="box-title">Server List</h3>
        </div>
        <div class="box-body">
            <!-- inner menu: contains the messages -->
            <ul class="menu">
                <% _.each(obj, function(model){ %>
                <li><!-- start message -->
                    <a href="#server/<%= model.id %>">
                        <!-- Message title and timestamp -->
                        <h4>
                            <%= model.name %>
                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                        </h4>
                        <!-- The message -->
                        <p><%= model.ip %></p>
                    </a>
                </li>
                <%})%>
                <!-- end message -->
            </ul>
        </div>
    </div>
</div>